#basic_course_UGmemo_frame {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 50px;
}

#basic_course_UGmemo_frame img {
    width: 359px;
    height: 346px;
}

#basic_course_lecture_frame {
    
}

#basic_course_lecture_frame img {
    width: 375px;
    height: 212px;
}