.class .basic_details_text {
    padding: 10px 0 74px 30px;
    float: right;
    width: 650px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.7;
    z-index: 3;
    position: relative;
}



.class .basic_details_text_caption {
    padding-bottom: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 22px/30px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.class .basic_details_text_explain {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/30px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#basic_details_text_caption2 {
    margin-top: 50px;
}

#basic_course_UGmemo_frame {
    margin-left: 88px;
}

#basic_course_UGmemo_frame img {
    width: 443px;
    height: 285px;
}

#basic_course_lecture_frame {
    margin-top: 86px;
    left: 40px;
}

#basic_course_lecture_frame img {
    width: 542px;
    height: 307px;
}