.link_footer {
    width: 1680px;
    height: 96px;

    position: fixed;
    bottom: 0;
    left: 0;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-color: rgba(255, 255, 255, 0.82);
    opacity: 1;

    display: inline-block;

    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: -webkit-transform .8s ease;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease;

    z-index: 10;
}

.footer_text {
    float: left;
    margin-top: 36px;
    margin-bottom: 36px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/30px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#to_common_group_text {
    margin-left: 279px;
}

.footer_img {
    float: right;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 350px;
    width: 360px;
    height: 60px;
    background-color: #FFFFFF;
}

.footer_img img:hover {
    opacity: 0.9;
}

#to_campfire_text {
    margin-left: 343px;
}

.footer_hidden {    
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

