                header {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 54px;
                    z-index: 100;
                    background-color: rgba(255, 255, 255, 0.67);
                    -webkit-transition: -webkit-transform .8s ease;
                    transition: -webkit-transform .8s ease;
                    transition: transform .8s ease;
                    transition: transform .8s ease, -webkit-transform .8s ease;

                }

                .header_logo {
                    width: 138px;
                    height: 54px;
                    margin-left: 220px;
                    position: fixed;
                    z-index: 100;
                }

                header img {
                    width: 138px;
                    height: 54px;
                    position: fixed;
                    float: left;
                    z-index: 100;
                }

                .header_hidden {
                    -webkit-transform: translateY(-100%);
                    transform: translateY(-100%);
                }

                
/*以降*/
                #nav-toggle {
                    position: fixed;
                    margin-top: 11px;
                    right: 233px;
                    height: 32px;
                    cursor: pointer;
                }

                #nav-toggle div {
                    position: relative;
                    width: 31px;
                }

                #nav-toggle span {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    display: block;
                    background: #333;
                    position: absolute;
                    transition: transform .6s ease-in-out, top .5s ease;
                }

                #nav-toggle span:nth-child(1) {
                    top: 4px;
                }

                #nav-toggle span:nth-child(2) {
                    top: 14px;
                }

                #nav-toggle span:nth-child(3) {
                    top: 24px;
                }


                #nav-toggle:hover span:nth-child(1) {
                    top: 6px;
                }

                #nav-toggle:hover span:nth-child(3) {
                    top: 21px;
                }

                .open #nav-toggle span {
                    background: #555;
                }

                .open #nav-toggle span:nth-child(1) {
                    top: 15px;
                }

                .open #nav-toggle span:nth-child(2) {
                    top: 15px;
                }

                .open #nav-toggle span:nth-child(3) {
                    top: 15px;
                }


                /* z-index */
                #nav-toggle {
                    z-index: 1000;
                }

                #container {
                    z-index: 900;
                }

                #gloval-nav {
                    background-color: rgba(255, 255, 255, 0.88);
                    color: #000;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 990;
                    text-align: center;
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 29px;
                    opacity: 0;
                    transition: opacity .6s ease, visibility .6s ease;
                }



                #gloval-nav a {
                    display: block;
                    color: #555;
                    text-decoration: none;
                    padding: 10px 0;
                    transition: color .6s ease;
                }

                #gloval-nav a:hover {
                    color: #666;
                }


                #gloval-nav ul {
                    list-style: none;
                }

                #gloval-nav ul li {
                    opacity: 1;
                    transition: transform .6s ease, opacity .2s ease;
                }

                /* open */
                .open {
                    overflow: hidden;
                }

                .open #gloval-nav {
                    visibility: visible;
                    opacity: 1;
                }

                #gloval-nav li {
                    opacity: 1;
                    transform: translateX(0);
                    transition: transform 1s ease, opacity .9s ease;
                }

                .hambeger_menu_position {
                  position: absolute;
                  margin-left: auto;
                  margin-right: auto;
                }

                .hambeger_menu_navigator {
                    margin-top: 179px;
                    margin-bottom: 157px;
                }

                .top_caption {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/18px var(--unnamed-font-family-ten-mincho);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-000000);
                    text-align: center;
                    font: normal normal normal 12px/18px Ten Mincho;
                    font-family: ten-mincho, serif;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    margin-bottom: 100%;
                }

.hamburger_menu_salon_name {
                    margin-bottom: 7px;
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-22)/33px var(--unnamed-font-family-ten-mincho);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-000000);
                    text-align: center;
                    font: normal normal normal 22px/33px Ten Mincho;
                    font-family: ten-mincho, serif;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                }
/*


#nav-toggle {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 233px;
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

#nav-toggle span {
    display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 10px;
}
#nav-toggle span:nth-child(2) {
  top: 20px;
}
#nav-toggle span:nth-child(3) {
  top: 30px;
}



#gloval-nav {
  background-color: rgba(255, 255, 255, 0.88);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
}

#gloval-nav li {
    list-style-type: none;
}

.open #gloval-nav {
    visibility: visible;
    opacity: 1;
}

*/

                /*　ハンバーガーボタン　*/
                /*              .hamburger {
                    margin-top: 6px;
                    margin-bottom: 6px;
                    margin-right: 233px;
                    display: block;
                    position: fixed;
                    z-index: 3;
                    right: 13px;
                    width: 42px;
                    height: 42px;
                    cursor: pointer;
                    text-align: center;
                    align-items: center;
                }

                .hamburger span {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    left: 6px;
                    background: #555;
                    -webkit-transition: 0.3s ease-in-out;
                    -moz-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                }

                .hamburger span:nth-child(1) {
                    top: 10px;
                }

                .hamburger span:nth-child(2) {
                    top: 20px;
                }

                .hamburger span:nth-child(3) {
                    top: 30px;
                }

                /* ナビ開いてる時のボタン */
/*                .hamburger.active span {
                    background: #555;
                }

                .hamburger.active span:nth-child(1) {
                    -webkit-transform: translateY(6px);
                    -moz-transform: translateY(6px);
                    transform: translateY(6px);
                }

                .hamburger.active span:nth-child(2) {
                    -webkit-transform: translateY(-4px);
                    -moz-transform: translateY(-4px);
                    transform: translateY(-4px);
                }

                .hamburger.active span:nth-child(3) {
                    -webkit-transform: translateY(-14px);
                    -moz-transform: translateY(-14px);
                    transform: translateY(-14px);
                }

                nav.globalMenuSp {
                    position: fixed;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    color: #fff;
                    background-color: rgba(255, 255, 255, 0.9);
                    text-align: center;
                    width: 100%;
                    opacity: 0;
                    transition: opacity .6s ease, visibility .6s ease;
                }

                nav.globalMenuSp ul {
                    margin: 0 auto;
                    padding: 0;
                    width: 100%;
                }

                nav.globalMenuSp ul li {
                    list-style-type: none;
                    padding: 0;
                    width: 100%;
                    transition: .4s all;
                }

                nav.globalMenuSp ul li:last-child {
                    padding-bottom: 0;
                }


                nav.globalMenuSp ul li a {
                    display: block;
                    color: #fff;
                    padding: 1em 0;
                    text-decoration: none;
                }
*/
                /* このクラスを、jQueryで付与・削除する */
  /*              nav.globalMenuSp.active {
                    opacity: 100;

                }





                

                @keyframes modal {
                    from {
                        display: none;
                        transform: scaleY(0);
                    }

                    1% {
                        display: block;
                        transform: scaleY(0);
                    }

                    to {
                        display: block;
                        transform: scaleY(1);
                    }
                }
                */