.top {
    height: 793px;
    width: 1680px;
}

.top_image {
    margin-left: 350px;
    margin-bottom: 100px;
    width: 890px;
    height: 693px;
    position: absolute;
}

.top_navigator {
    width: 350px;
    height: 693px;
    position: absolute;
    text-align: center;
}

.scroll_area {
    margin-top: 215px;
    margin-left: auto;
    margin-right: auto;
    width: 42px;
    height: 200px;
    font-size: 14px;
}

.scroll_area a {
    text-decoration: none;
    background-color: #fff;
}

.scroll_area ul {
    list-style: none;
}

.scroll_area .li_margin_bottom {
    margin-bottom: 36px;
    
}

.top_navigator svg {
    margin-top: 215px;
    text-align: left;
}

.top_navigator .top_salon_name {
    margin-top: 170px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-22)/33px var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 22px/33px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.top_navigator .top_caption {
    margin-top: 7px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/18px var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 12px/18px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}