#common_course_memo_frame {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 50px;
}

#common_course_memo_frame img {
    width: 329px;
    height: 218px;
}

#common_course_camp_frame {
    margin-bottom: 30px;
}

#common_course_camp_frame img {
    width: 375px;
    height: 209px;
}

#common_course_memomafes_frame {

}

#common_course_memomafes_frame img {
    width: 373px;
    height: 209px;
}
