* {
    padding: 0;
    margin: 0;
}

body {
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    width:100%; /*ページ全体の幅は100%と指定する*/
    max-width: 375px;
    margin: auto auto 80px auto;
}

.pic_frame {
    display: inline-block;
    text-align: center;
    position: relative;
}

.pic_frame p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-ten-mincho);
    font: normal normal normal 14px/30px Ten Mincho;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif !important;
    color: 484848 !important;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 14px/30px Ten Mincho;
    letter-spacing: 0px;    
    color: #000000;
    opacity: 1;
}

.copyright {
    margin-bottom: 80px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/var(--unnamed-line-spacing-30) var(--unnamed-font-family-ten-mincho);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 12px/30px Ten Mincho;
    font-family: ten-mincho, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}